.out {
  text-align: center;
  padding: 20px;
}

.out p {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.4;
  color: rgb(168, 168, 168);
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  margin-left: 3rem;
}

section {
  padding: 80px 10%;
}

.blog-title {
  text-align: center;
  margin: 1.3rem;
  font-size: 1.9rem;
}

.blog-p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin: 1rem 0;
  text-align: justify;
}

.ref-hold {
  font-size: 0.9rem;
  text-align: justify;
  padding: 30px 0 30px 0;
}

.ref-hold h3 {
  margin-bottom: 10px;
}

.ref-hold p {
  line-height: 16px;
  letter-spacing: 1px;
  margin: 5px;
}

.blog-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  cursor: pointer;
  margin: 10px 30px;
  padding: 15px;
  color: #aa2704;
  position: relative;
  background: none;
  border: 2px solid transparent;
  transition: background-color 0.3s, border-radius 0.3s, color 0.3s,
    border-color 0.3s;
  flex: 1;
  max-width: calc(33.33% - 20px);
}

.btn.active,
.btn:hover {
  color: white;
  border-color: whitesmoke;
  border-radius: 0;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: width 0.3s, height 0.3s, border-color 0.3s;
}

.btn.active::before,
.btn:hover::before {
  width: 100%;
  height: 100%;
  border-top-color: transparent;
  border-left-color: transparent;
}

.blog {
  display: none;
}

.paragraph-title {
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .btn {
    max-width: 100%;
  }
}
