table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 3px solid #545454;
  border-radius: 5px;
  text-align: left;
  padding: 0.8rem;
  background-color: darkslateblue;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

h1,
h2 {
  text-align: center;
  margin: 20px 0 0 10px;
}

section {
  padding: 80px 15%;
}

th {
  font-weight: bolder;
  background-color: blueviolet;
}

tr:nth-of-type(3n) {
  background-color: no;
}

.today-indicator {
  color: rgb(0, 0, 0);
}

table a {
  background: none;
}

@media (max-width: 500px) {
  section {
    padding: 80px 10%;
  }
}

@media (max-width: 430px) {
  section {
    padding: 40px 0 0 -50px 10%;
  }

  th,
  td {
    padding: 0.2em;
    font-size: 0.8rem;
  }
}
