h1,
h2 {
  text-align: center;
  margin: 15px;
}

section {
  padding: 80px 15%;
}

svg {
  display: block;
  margin: 30px auto 0;
  background-color: rgb(55, 55, 55);
  border: 2px solid darkgrey;
}

@media (max-width: 500px) {
  section {
    padding: 80px 10%;
  }
}

@media (max-width: 430px) {
  section {
    padding: 40px 0 0 -50px 10%;
  }
}

.x-axis text {
  text-transform: capitalize;
  font-size: 0.9rem;
}

.y-axis text {
  font-size: 0.9rem;
}

.x-axis-label {
  padding: 20px;
}

.i {
  padding: 20px;
  text-align: justify;
  display: block;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 700;
}

#headings {
  margin-bottom: -100px;
}
