* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: whitesmoke;
  color: black;
}
section {
  padding: 100px 18%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: 0.3s;
}

.logo img {
  max-width: 100%;
  width: 60px;
  height: auto;
}

.navlist {
  display: flex;
}

.navlist li {
  position: relative;
}

.navlist a {
  font-size: 13px;
  color: black;
  font-weight: 500;
  padding: 10px 20px;
}

.navlist a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: wheat;
  bottom: -3px;
  left: 0;
  transition: ease 0.2s;
}

.navlist a:hover:after {
  width: 100%;
}

#menu-icon {
  font-size: 20px;
  color: black;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.top-btn {
  display: inline-block;
  padding: 5px 10x;
  border-bottom: 1px solid black;
  color: black;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 300;
  transition: ease 0.25s;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 32px;
  align-items: center;
  text-align: center;
}

.sub-box {
  padding: 45px 45px 45px 45px;
  transition: ease 0.3s;
  cursor: pointer;
}

.sub-img img {
  max-width: 100%;
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.sub-box h2 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.sub-box p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.662);
  line-height: 20px;
}

.sub-box:hover {
  background: white;
  box-shadow: 18px 0 87px 0 rgb(10 15 70/7%);
  border-radius: 12px;
  will-change: transform;
  transform: perspective(1000px) rotateX(1.8deg) rotateY(10.23deg)
    scale3d(1.05, 1.05, 1.05);
}

@media (max-width: 1425px) {
  header {
    padding: 16px 5%;
    transition: 0.2s;
  }
  .header.sticky {
    padding: 10px 3%;
    transition: 0.3s;
  }
  section {
    padding: 70px 3%;
    transition: 0.3s;
  }
}

@media (max-width: 900px) {
  #menu-icon {
    display: block;
  }

  .home {
    min-height: 30vh;
  }

  .navlist {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: wheat;
    text-align: left;
    transition: all 0.4s;
  }

  .navlist a {
    display: block;
    padding: 5px;
    margin: 10px;
    border-left: 2px solid black;
  }

  .navlist a:hover {
    background: black;
    color: white;
  }

  .navlist a::after {
    display: none;
  }

  .navlist.active {
    top: 100%;
  }

  section {
    padding: 50% 7%;
    transition: 0.3s;
  }
}

@media (max-width: 550px) {
  .home {
    grid-template-columns: 1fr;
    min-height: 130vh;
    grid-gap: 16px;
  }
  .home-text {
    padding-top: 55px;
  }
  .home-img {
    text-align: center;
  }
  .home-img img {
    width: 440px;
    height: auto;
  }
  section {
    padding: 40% 10%;
    transition: 0.3s;
  }
}

.blogs-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 80px;
}

.blog-box {
  padding: 2rem 2rem;
  background-color: white;
  border-radius: 2px;
  line-height: 1.4rem;
  box-shadow: 0 0 0.2rem black;
}

.blog-box h3 {
  margin-bottom: 10px;
  letter-spacing: 0.07rem;
}

.blog-box p {
  line-height: 1.4;
  text-align: justify;
  margin-bottom: 5px;
}

#ch1,
#ch2 {
  display: none;
}

.blog-content {
  display: none;
  transition: 0.4s linear;
}

.blogs label {
  font-size: 0.75rem;
  display: inline-block;
  margin-top: 10px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

#ch1:checked ~ .blog-content,
#ch2:checked ~ .blog-content {
  display: block;
}

#ch1:checked ~ label,
#ch2:checked ~ label {
  visibility: hidden;
}

#ch1:checked ~ label::after,
#ch2:checked ~ label::after {
  content: "Show less";
  display: block;
  visibility: visible;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 7px 0 20px;
  line-height: 1.1;
}

.out {
  text-align: center;
  padding: 20px;
}

.out p {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.4;
  color: rgb(0, 0, 0);
}
